
.row {
    position: relative;
    box-sizing: border-box;
    text-align: left;
    margin: 0 auto;

}

.row-pad-1 {  //藍色 框框
    height: 150px;
    width: 100px; 
    background-color: $color-blue-light ;
    margin: 0;

    &:hover {
        outline: 0.5rem solid $color-blue-light ;
        z-index: 1;
        outline-offset: 0.7rem;
    }

    &:focus {
        outline: 0.5rem solid $color-blue-light ;
        z-index: 1;
        outline-offset: 0.7rem;
    }

}

.row-pad-2 {  // 白色框框
    border: 0;
    height: 150px;
    width: 100px;
    background-color: #FFF;
}


//請選擇遊戲類型
.choose_type { 
    position: relative;
    box-sizing: border-box;
    text-align: left;
    margin: 0 auto;

    & > label {
        font-size: 1.5rem;
        margin-left: 1rem;
        display: inline-block;
        
        cursor:pointer;
    }

    & > input[type="checkbox"] {  //Checkbox格子 隨著螢幕放大縮小
        display:inline-block;
        width:40px;
        height:40px;   
        @include respond(big-desktop) {  
            width:40px;
            height:40px;       
        }
        @include respond(tab-land) {  
            width:40px;
            height:40px;
        }
        
        @include respond(tab-port) {   
            width:30px;
            height:30px;      
        }

        @include respond(phone) {
            width:20px;
            height:20px;    
        }
    }

}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;    
    background-color: white;

   
    & > .item {
    background-color: #BCBCBC;    
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
    margin: 0;
  }
    
}

